{% block content %}
    <div id="loginContrast"></div>
    <div id="login">
        <div id="loginHeader">{% if LOGIN_ERROR is defined %}{{ AUTHENTICATION_FAILED }}{% else %}{{ LOGIN }}{% endif %}</div>
        <form action="{{ URL }}login/authenticate" autocomplete="off" method="post">
            <label>
                <input name="username" placeholder="{{ USERNAME }}">
            </label><br>
            <label>
                <input name="password" type="password" placeholder="{{ PASSWORD }}">
            </label><br>
            <button type="submit" class="loginButton">{{ LOGIN_BUTTON }}</button>
        </form>
    </div>
    <div id="credits"><span class="fa fa-envelope"></span><span>Khada.Webdev@gmail.com</span></div>
{% endblock %}