<section class="post" id={{ blogPost.id }}>
    <header class="post-header">
        <a class="post-title" href="/blog?id={{ blogPost.id }}">
            {{ blogPost.title|e }}
        </a>
        <i class="fas fa-trash fa-1x post-icon click" onclick="deleteBlogPostById({{ blogPost.id }});"></i>
        <p class="post-meta">
            By <a href="#" class="post-author">User</a> under <a
                    class="post-category post-category-design" href="#">CSS</a> <a
                    class="post-category post-category-pure" href="#">PHP</a>
        </p>
    </header>
    <div class="post-description">
        <p>{{ blogPost.post|e }}</p>
    </div>
</section>